In [17]:
print("Hello World!")

Hello World!

## inputs

In [18]:
print("My name is Zakaria")

My name is Zakaria

In [19]:
name = "Zakaria"
print(f"Your name is {name}")

Your name is Zakaria

In [21]:
name = input("What is your name?")
age = input("How old are you?")

print(f"{name} is {age} years old.")

Zakaria is 27 years old.

## type coercion

In [35]:
gravity = 9.82
mass = float(input("Enter your weight in kg:"))

force = mass*gravity

print(f"{force = }N")

force = 736.5N

In [36]:
print(f"{force = :.1f}N")

force = 736.5N

In [75]:
number = 5
float(number)

5.0

## Some more types!

In [38]:
radius = 7 
geometry = "circle"
is_unite_circle = False
screen_inches = 6.4

type(radius), type(geometry), type(is_unite_circle), type(screen_inches)

(int, str, bool, float)

## IF STATEMENTS

In [1]:
age = int(input("Enter your age: "))
age_limit = 15
if age < age_limit:
    print("sorry, you are too young to attend this scary movie")
    print("watch cartoons instead")
else:
        print("enjoy this scary movie!")

sorry, you are too young to attend this scary movie
watch cartoons instead

In [2]:
age = 15
height = 130 

if age > 11 and  130  <= height < 210:
    print("Welcome to the rollercoster")
else:
    print("Come back when you fullfill reqiuerments")

Welcome to the rollercoster

## Modulo Operater

In [140]:
number = 5
if not number % 2:
    print("even number")
else: 
    print("odd number")

odd number

## Truthy and falsy values

In [3]:
number = 10
if number % 2:
    print("even")
else:
    print("odd")

odd

In [4]:
number = 10
if number % 2:
    print("even")
else:
    print("odd")

odd

In [5]:
if 0:
    print("Truthy")
else:
    print("Falsy")

Falsy

## if-elif-else

In [6]:
weight = 12
if weight < 20:
    print("Give patient 500mg")
elif weight < 40:
    print("Give patient 750mg")
else: 
    print("Give patient 1000mg")

Give patient 500mg

# Nested if statements

In [7]:
number = 25
if number % 5 == 0:
    print(f"{number} is divisible by 5")
    if number % 2 == 0:
        print(f"{number} is  even")
    else:
        print(f"{number} is odd")

25 is divisible by 5
25 is odd

# One line if statements

In [8]:
name = "zakaria"
gender = "male"
age = 27

# one line if statement
# ".lower()" method converts all characters in a string to lowercase.
if "z" in name.lower(): print(f"{name} contains the leter 'z' ")

zakaria contains the leter 'z'

In [9]:
print(f"Hi mister {name}"if gender == "male" else f"Hi miss {name}")

Hi mister zakaria

In [10]:
# one line if-else variable assignment
age = 17
is_child = True if age < 18 else False
print(is_child)

True

# Grundläggande if-elif-else övningar.

In [50]:
# Ordning baserat på ålder.  

ålder = int(input("ange ålder här: "))

if ålder < 18:
    print("barn")
elif ålder > 65: 
    print("pensionär")
else:
    print("vuxen")

pensionär

In [ ]:

if 16 <=  <= 19:
    print("Din studentrabatt är 30%")
elif 65 <= customer: 
    print("Din pensionärrabatt är 50%")  
else:
    print("Tyvärr, du har ingen studentrabatt")

In [ ]:
if number % 5 == 0:
    print

In [69]:
# Väderklädsel
temperatur = int(input(" Ange temperatur här: "))  
if temperatur < 0:
    print("Sätt på dig vinter jacka")
elif temperatur < 10:
    print("sätt på dig höst jacka")
elif temperatur < 20: 
    print("sätt på dig t shirt men ta med dig en hoodie ifall det blir kallare på kvällen")      
elif temperatur < 30:
    print("sätt på dig t shirt och shorts")
else:
        print("sätt dig i solen och njut, glöm inte solkräm!")

Sätt på dig vinter jacka

In [157]:
kostnad_per_äpple = 10
kund = input("Är du student eller pensionär?")

Äpple = int(input("Hur många äpplen vill du handla?"))

total_kostnad = kostnad_per_äpple * Äpple

if kund == "student":
    sista_pris = total_kostnad * 0.70  
    print(f"Du får 30% rabatt. Pris: {sista_pris} kr")
elif kund == "pensionär":
    sista_pris = total_kostnad * 0.50    
    print(f"Du får 50% rabatt. Pris: {sista_pris} kr")
else:
    sista_pris = total_kostnad
    print(f"Du får ingen rabatt. Pris: {sista_pris} kr")

Du får 30% rabatt. Pris: 70.0 kr

In [ ]:
# Träningsintensitet

puls = inte(input("Ange din puls här: "))
if 100 <= puls < 120:
    print("låg intensitet")

# While-statement

In [46]:
n  = 0
while zak < 6:
    print(f"Hello {n}")
    zak += 2

In [85]:
# Example - Oil leakage

birds = 80000
year = 0

while birds > 8000:
    print(f"year {year} there were {birds: .0f} ")
    birds /= 2
    year += 1
print(f"it takes {year} for the birds to have 1/10 remaining")

year 0 there were  80000
year 1 there were  40000
year 2 there were  20000
year 3 there were  10000
it takes 4 for the birds to have 1/10 remaining

In [88]:
# Jämna tal
n = -19
while n <= 20:
    print(n, end=" ")
    n += 2

-19 -17 -15 -13 -11 -9 -7 -5 -3 -1 1 3 5 7 9 11 13 15 17 19

## Break statement.

In [125]:
import random as rnd

while True:
    number1 = rnd.randint(1,10)
    number2 = rnd.randint(1,10)
   
    user_answer = int(input(f"What is {number1}*{number2}?"))
    if user_answer == number1*number2:
        print("Correct answer!") 
       
    else:
        print(f"Wrong answer! The awnser is {number1}*{number2}! ")

    play_again = input("Do you want to play again? If yes type in yes and press enter!")
    if play_again != "yes":
        print("Thanks for playing today!")
        break

Correct answer!
Thanks for playing today!

# For statements

In [ ]:
# Övning 1: Enkel räkning
# Skriv en for-loop som skriver ut talen 1 till 5.
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
# Övning 2: Summering
sum_ = 0
for i in range(1,11):
    sum_ += i
    print(i)
print(f"summan av dessa tal är: {sum_}")

1
2
3
4
5
6
7
8
9
10
summan av dessa tal är: 55

In [138]:
# Övning 3: Jämna tal
# Skriv en for-loop som skriver ut alla jämna tal mellan 0 och 10.
for i in range(0, 11, 2):
    print(i, end =" ")

0 2 4 6 8 10

In [ ]:
# övning summa 
sum_ = 0 
for i in range (1, 11):
    sum += i

In [141]:
# Lista med elevers poäng
elevers_poäng = [45, 67, 23, 89, 56, 91, 34, 78, 12, 65]

print("BETYGSRAPPORT")
print("=============")

# For-loop genom alla elever
for i, poäng in enumerate(elevers_poäng, 1):
    # If-satser för att bestämma betyg
    if poäng >= 90:
        betyg = "A"
    elif poäng >= 80:
        betyg = "B"
    elif poäng >= 70:
        betyg = "C"
    elif poäng >= 50:
        betyg = "D"
    else:
        betyg = "F"
    
    # Skriv ut resultat
    print(f"Elev {i}: {poäng} poäng -> Betyg {betyg}")

# Summering
godkända = 0
for poäng in elevers_poäng:
    if poäng >= 50:
        godkända += 1

print(f"\nSammanfattning: {godkända} av {len(elevers_poäng)} elever godkända")

BETYGSRAPPORT
=============
Elev 1: 45 poäng -> Betyg F
Elev 2: 67 poäng -> Betyg D
Elev 3: 23 poäng -> Betyg F
Elev 4: 89 poäng -> Betyg B
Elev 5: 56 poäng -> Betyg D
Elev 6: 91 poäng -> Betyg A
Elev 7: 34 poäng -> Betyg F
Elev 8: 78 poäng -> Betyg C
Elev 9: 12 poäng -> Betyg F
Elev 10: 65 poäng -> Betyg D

Sammanfattning: 6 av 10 elever godkända

In [ ]:
## Decide discounts for a customer

In [181]:
## Rabatter
cost_per_apple = 10
costumer = input("Are you a student or a pensioner?")

apple = int(input("How many apples do you want to buy?"))

total_cost = cost_per_apple * apple

if costumer == "student":
    final_cost = total_cost * 0.70  
    print(f"You get a 30% discount. price: {final_cost} kr")
elif costumer == "pensioner":
    final_cost = total_cost * 0.50    
    print(f"You get a 50% discount. Price: {final_cost} kr")
else:
    final_cost = total_cost
    print(f"No discount available. Price: {final_cost} kr")

You get a 30% discount. price: 70.0 kr

In [ ]:
i = 0 

while True:
    print (i)
    i += 1
    if i >= 5: # this is the same as saying if (i) is bigger or as much as 5 then stop the loop (break)
        break

In [182]:
# an example with three arguments 

for i in range(1, 5, 2):
    print(i)

1
3

In [183]:
# we want to change the default setting of print() fuction to not start a new line 
for i in range(1, 5, 2):
    print(i, end=" ")

1 3

# Exercises

In [ ]:
        #Pythagorean theorem
# a)

a = 3
b = 4
c = (a**2 + b**2)**0.5
print(f"The length of the hypotenuse is: {c}")

The length of the hypotenuse is: 5.0

In [208]:
# b)

a = 5.0
c = 7.0 

b = (c**2 -a**2)**0.5
b  = (f"{b: .1f}")

print(f" The messing catheti is {b}")

 The messing catheti is  4.9

In [220]:
# positive integer?
# negative integer?
# zero?
number = int(input("Put in a number"))

if number > 0:
    print(f"{number} is a positive number")
elif number < 0:
    print(f"{number} is a negative number")
else:
    print(f"{number} is zero")

9 is a positive number

In [218]:
# exercise_2.md 

user = int(input("What number is the smallest between 2 and 3?"))

answer_1 = 2
answer_2 = 3

if user == answer_1:
    print("Correct!")

elif user == answer_2:
    print("Wrong try again") 

else:
    print("Not a valid answer")

Not a valid answer

In [257]:
#  Medicine # based on weight and age

#  The information in the following table is stated in a medicine package.
#Also it is stated that for children weight is more important than age.

weight = int(input("Enter your weight in kg"))
age = int(input("Enter your age"))




if weight >= 40:
    print("Adult or adolescent, take 1-2 pill")
elif 26 <= weight <= 40:
    print("This child should only take 1/2-1 pill")
elif 15 <= weight <= 25:
    print("This child should only take 1/2 pill.")
else:
    print("Contact doctor for advice")

This child should only take 1/2-1 pill

VIKTIGT:
IDAG SKA DU GÖRA NY VERSION AV UPPGIFTEN VI GJORDE I KLASSRUMMET!

In [280]:
# Rabatt för köp av äpllen. det gäller studenter och penstionärer 


# Cost per apple without any discount 
cost_per_apple = 10

customer_type = input("Are you a student or a pensioner?")
amount_of_apples = int(input("How many apples would you like to buy?"))
total_price = cost_per_apple * amount_of_apples

#Discount depends on costumer input

if customer_type == "student":
    discount = 0.30 
    
    final_price = round(total_price * (1 - discount))
    print("You get a 30% discount")
    print(f"Your final price is {final_price}kr")

elif customer_type == "pensioner":
    discount = 0.5

    final_price = round(total_price * (1 - discount))
    print("You get a 50% discount")
    print(f"Your final price is {final_price}kr")

else:
    print("You have no discount, have a nice day ")

You get a 50% discount
Your final price is 50kr

In [301]:
# övnin: kaffeköp med rabatter 

# base cost for a coffee 
coffee_cost = 25
customer_type = input("Are you a VIP or regular customer?")
amount_of_coffees = int(input("How many cups of coffees of would you like?"))
total_price = coffee_cost * amount_of_coffees

# for vip and regular customers we have discounts:
# reguler: 20% off -- VIP: 50% off 

if customer_type == "regular":
    discount = 0.2
    final_price = (total_price) * (1 - discount)
    print("You get 20% discount on this order")
    print(f"This is your final cost {final_price: .0f}kr")

elif customer_type == "VIP":
    discount = 0.4
    final_price = (total_price) * (1 - discount)
    print("You get 40% discount on this order")
    print(f"This is your final cost {final_price: .0f} kr")
else: 
    print("You dont have a discount")
    print(f"Your cost is {total_price: .0f}kr")

You get 40% discount on this order
This is your final cost  45 kr

In [328]:
# delbara nummer

number = int(input("Enter number here: "))

if number % 2 == 0:
    print("this is a even number")
else:
    print("this a odd number")

if number % 5 == 0:
    print("this number is divisble with 5") 

else:
    print("this number is not divisible by 5")   


if number % 2 != 0 and number % 5 == 0:
    print("this number is odd, and this number is divisble by 5")

else:
    print("this number is not both odd and divisble by 5")

this is a even number
this number is divisble with 5
this number is not both odd and divisble by 5

In [336]:
#while statements 
n = 0
user_input = int(input("Enter your number here"))

while n < 5:
    print(f"hi everyone{n}")
    n += 1

hi everyone0
hi everyone1
hi everyone2
hi everyone3
hi everyone4

In [340]:
# oil leakage #bird population getting cut in half every year 

birds = 80000
year = 0 
# how many years will it take for it to only be 1/20 (8,000) birds left?
while birds > 8000:
    print(f"year {year} there were {birds: .0f} left")
    birds /= 2
    year += 1


print(f"it takes {year} for the bird population to reach 1/10 left")

year 0 there were  80000 left
year 1 there were  40000 left
year 2 there were  20000 left
year 3 there were  10000 left
it takes 4 for the bird population to reach 1/10 left

In [ ]:
# System for a coffee shop.         # Im going to be using some of the new things i have learned:
                                    # If statements
                                    # While loops
                                    # for statments 
                                    #lists
                                    #tupels

#menu
# Varieties
# Discounts
# Black coffee prices and sizes
# Tea prices and sizes

# black coffee
black_coffees = {
"small": 25,
"medium": 35,
"large": 50
}
 
#tea 

tea = {
"small": 15,
"medium": 25,
"large": 40
}

In [343]:
tv_shows =["Suits", "Breaking bad","last of us"]
print(f"tv show 0: {tv_shows [0]}")
print(f"tv show 1: {tv_shows [1]}")
print(f"tv show 3: {tv_shows [2]}")

for tv_show in tv_shows:
    print(tv_show)

tv show 0: Suits
tv show 1: Breaking bad
tv show 3: last of us
Suits
Breaking bad
last of us

# Dice game

In [398]:
import random as rnd 
dice_rolls = 10_000
num_six = 0

for i in range(dice_rolls):
 dice = rnd.randint(1, 6)
 
 
 if dice == 6:
    num_six += 1
    
print(f"number of sixes {num_six} in ({dice_rolls})")  

print(f"probibility of getting a six {num_six/dice_rolls} ")

number of sixes 1669 in (10000)
probibility of getting a six 0.1669

In [446]:
## loop through a list            # With numbers
print(" I love eating")
fruits = ["apple", "strawberry", "pear,", "pineapple", "banana", "mango", "grape"]

for i, fruit in enumerate(fruits, 1):
    print(f"{i}. {fruit}")

 I love eating
1. apple
2. strawberry
3. pear,
4. pineapple
5. banana
6. mango
7. grape

In [460]:

fruits = ["apple", "strawberry", "pear", "pineapple", "banana", "mango", "grape"]
recipes = ["pie", "juice", "fufu", "milk", "olivoil"]

print(f"{'FRUIT': <20} {'RECIPE'}")  # Fix: båda som strings

for fruit, recipe in zip(fruits, recipes):
    print(f"{fruit: <20} {recipe}")  # Fix: recipe istället för recipie

FRUIT                RECIPE
apple                pie
strawberry           juice
pear                 fufu
pineapple            milk
banana               olivoil

## Nested for loops

In [469]:
for x in range(3):
    for y in range(3):
        print(f"({x}. {y})", end = " ")
    print()

(0. 0) (0. 1) (0. 2)
(1. 0) (1. 1) (1. 2)
(2. 0) (2. 1) (2. 2)

# Lists

In [491]:
tv_shows = ["Antique show", "Master Chef", "News", "Talent"]
print(tv_shows [1:3])

['Master Chef', 'News']

In [483]:
tv_shows = [0]

In [492]:
print(tv_shows [-1])

Talent

In [500]:
## itereate throug a list
for i, tv_show in enumerate(tv_shows, 1):
    print(i, tv_show)

1 Antique show
2 Master Chef
3 News
4 Talent

Mutate list

In [ ]:
tv_shows [-1] = "pokemon"

tv_shows [0] = "yugio"
tv_shows

['yugio', 'Master Chef', 'News', 'pokemon']

In [514]:
# sort the list 

tv_shows = ['yugio', 'News', 'pokemon', 'Master Chef']
tv_shows.sort()
print(tv_shows)

['Master Chef', 'News', 'pokemon', 'yugio']

In [ ]:
# list comprehension

cubes = [x**3 for x in range(10)]

print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [517]:
[x**2 for x in range(10) if x**2 > 25]

[36, 49, 64, 81]

## tuples

In [ ]:
mixed_tuple = ("banna", 12, 3.14, True)
mixed_tuple

mixed_tuple[1]

12

In [528]:
mixed_tuple[1:4:2]

(12, True)

In [529]:
coordinates = ([1.2], [3.2])
coordinates

([1.2], [3.2])

In [532]:
#tuple unpacking
x,y,z = (1,2,3)
z

3

In [536]:
x,y = y,x

print(f"{x = }{y = } ")

x = 1y = 2

## Sets

In [546]:
emails = "ana@example.com", "bob@example.com", "maria@example.com", "pontus@example.com" , "bob@example.com", "fufu@example", "hej@exapmle.com"
  
set(emails)

{'ana@example.com',
 'bob@example.com',
 'fufu@example',
 'hej@exapmle.com',
 'maria@example.com',
 'pontus@example.com'}

In [ ]:
#mathematical set operations

-union 

-intersection 

-excpet

In [552]:
first_month_customers = {"alice", "bob", "carla", "daniel"}
second_month_customers = {"carla", "daniel", "elna"}

first_month_customers.intersection(second_month_customers)

{'carla', 'daniel'}

In [553]:
all_customers = first_month_customers.union(second_month_customers)
all_customers

{'alice', 'bob', 'carla', 'daniel', 'elna'}

#we conbine union, exapct intersection

In [555]:
one_time_customers = first_month_customers.union(second_month_customers) - first_month_customers.intersection(second_month_customers)
one_time_customers

{'alice', 'bob', 'elna'}

In [556]:
first_month_customers

{'alice', 'bob', 'carla', 'daniel'}

In [557]:
second_month_customers

{'carla', 'daniel', 'elna'}

# sets have no order

# Egen övning

In [ ]:
# frukt lista 
frukter = ["Apple", "kiwi", "orange", "pear"]

frukter.append()

## Egen övning nummer 1 (Personregister)

In [ ]:
# Personregister

namn

In [596]:
cubes = [x**4 for x in range(1,10)]

cubes

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

In [604]:
import matplotlib

ModuleNotFoundError: No module named 'matplotlib'