In [17]:
print("Hello World!")

Hello World!

## inputs

In [18]:
print("My name is Zakaria")

My name is Zakaria

In [19]:
name = "Zakaria"
print(f"Your name is {name}")

Your name is Zakaria

In [21]:
name = input("What is your name?")
age = input("How old are you?")

print(f"{name} is {age} years old.")

Zakaria is 27 years old.

## type coercion

In [35]:
gravity = 9.82
mass = float(input("Enter your weight in kg:"))

force = mass*gravity

print(f"{force = }N")

force = 736.5N

In [36]:
print(f"{force = :.1f}N")

force = 736.5N

In [75]:
number = 5
float(number)

5.0

## Some more types!

In [38]:
radius = 7 
geometry = "circle"
is_unite_circle = False
screen_inches = 6.4

type(radius), type(geometry), type(is_unite_circle), type(screen_inches)

(int, str, bool, float)

## IF STATEMENTS

In [1]:
age = int(input("Enter your age: "))
age_limit = 15
if age < age_limit:
    print("sorry, you are too young to attend this scary movie")
    print("watch cartoons instead")
else:
        print("enjoy this scary movie!")

sorry, you are too young to attend this scary movie
watch cartoons instead

In [2]:
age = 15
height = 130 

if age > 11 and  130  <= height < 210:
    print("Welcome to the rollercoster")
else:
    print("Come back when you fullfill reqiuerments")

Welcome to the rollercoster

## Modulo Operater

In [140]:
number = 5
if not number % 2:
    print("even number")
else: 
    print("odd number")

odd number

## Truthy and falsy values

In [3]:
number = 10
if number % 2:
    print("even")
else:
    print("odd")

odd

In [4]:
number = 10
if number % 2:
    print("even")
else:
    print("odd")

odd

In [5]:
if 0:
    print("Truthy")
else:
    print("Falsy")

Falsy

## if-elif-else

In [6]:
weight = 12
if weight < 20:
    print("Give patient 500mg")
elif weight < 40:
    print("Give patient 750mg")
else: 
    print("Give patient 1000mg")

Give patient 500mg

# Nested if statements

In [7]:
number = 25
if number % 5 == 0:
    print(f"{number} is divisible by 5")
    if number % 2 == 0:
        print(f"{number} is  even")
    else:
        print(f"{number} is odd")

25 is divisible by 5
25 is odd

# One line if statements

In [8]:
name = "zakaria"
gender = "male"
age = 27

# one line if statement
# ".lower()" method converts all characters in a string to lowercase.
if "z" in name.lower(): print(f"{name} contains the leter 'z' ")

zakaria contains the leter 'z'

In [9]:
print(f"Hi mister {name}"if gender == "male" else f"Hi miss {name}")

Hi mister zakaria

In [10]:
# one line if-else variable assignment
age = 17
is_child = True if age < 18 else False
print(is_child)

True

# Grundläggande if-elif-else övningar.

In [50]:
# Ordning baserat på ålder.  

ålder = int(input("ange ålder här: "))

if ålder < 18:
    print("barn")
elif ålder > 65: 
    print("pensionär")
else:
    print("vuxen")

pensionär

In [ ]:

if 16 <=  <= 19:
    print("Din studentrabatt är 30%")
elif 65 <= customer: 
    print("Din pensionärrabatt är 50%")  
else:
    print("Tyvärr, du har ingen studentrabatt")

In [ ]:
if number % 5 == 0:
    print

In [69]:
# Väderklädsel
temperatur = int(input(" Ange temperatur här: "))  
if temperatur < 0:
    print("Sätt på dig vinter jacka")
elif temperatur < 10:
    print("sätt på dig höst jacka")
elif temperatur < 20: 
    print("sätt på dig t shirt men ta med dig en hoodie ifall det blir kallare på kvällen")      
elif temperatur < 30:
    print("sätt på dig t shirt och shorts")
else:
        print("sätt dig i solen och njut, glöm inte solkräm!")

Sätt på dig vinter jacka

In [157]:
kostnad_per_äpple = 10
kund = input("Är du student eller pensionär?")

Äpple = int(input("Hur många äpplen vill du handla?"))

total_kostnad = kostnad_per_äpple * Äpple

if kund == "student":
    sista_pris = total_kostnad * 0.70  
    print(f"Du får 30% rabatt. Pris: {sista_pris} kr")
elif kund == "pensionär":
    sista_pris = total_kostnad * 0.50    
    print(f"Du får 50% rabatt. Pris: {sista_pris} kr")
else:
    sista_pris = total_kostnad
    print(f"Du får ingen rabatt. Pris: {sista_pris} kr")

Du får 30% rabatt. Pris: 70.0 kr

In [ ]:
# Träningsintensitet

puls = inte(input("Ange din puls här: "))
if 100 <= puls < 120:
    print("låg intensitet")

# While-statement

In [46]:
n  = 0
while zak < 6:
    print(f"Hello {n}")
    zak += 2

In [85]:
# Example - Oil leakage

birds = 80000
year = 0

while birds > 8000:
    print(f"year {year} there were {birds: .0f} ")
    birds /= 2
    year += 1
print(f"it takes {year} for the birds to have 1/10 remaining")

year 0 there were  80000
year 1 there were  40000
year 2 there were  20000
year 3 there were  10000
it takes 4 for the birds to have 1/10 remaining

In [88]:
# Jämna tal
n = -19
while n <= 20:
    print(n, end=" ")
    n += 2

-19 -17 -15 -13 -11 -9 -7 -5 -3 -1 1 3 5 7 9 11 13 15 17 19

## Break statement.

In [125]:
import random as rnd

while True:
    number1 = rnd.randint(1,10)
    number2 = rnd.randint(1,10)
   
    user_answer = int(input(f"What is {number1}*{number2}?"))
    if user_answer == number1*number2:
        print("Correct answer!") 
       
    else:
        print(f"Wrong answer! The awnser is {number1}*{number2}! ")

    play_again = input("Do you want to play again? If yes type in yes and press enter!")
    if play_again != "yes":
        print("Thanks for playing today!")
        break

Correct answer!
Thanks for playing today!

# For statements

In [ ]:
# Övning 1: Enkel räkning
# Skriv en for-loop som skriver ut talen 1 till 5.
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
# Övning 2: Summering
sum_ = 0
for i in range(1,11):
    sum_ += i
    print(i)
print(f"summan av dessa tal är: {sum_}")

1
2
3
4
5
6
7
8
9
10
summan av dessa tal är: 55

In [138]:
# Övning 3: Jämna tal
# Skriv en for-loop som skriver ut alla jämna tal mellan 0 och 10.
for i in range(0, 11, 2):
    print(i, end =" ")

0 2 4 6 8 10

In [ ]:
# övning summa 
sum_ = 0 
for i in range (1, 11):
    sum += i

In [141]:
# Lista med elevers poäng
elevers_poäng = [45, 67, 23, 89, 56, 91, 34, 78, 12, 65]

print("BETYGSRAPPORT")
print("=============")

# For-loop genom alla elever
for i, poäng in enumerate(elevers_poäng, 1):
    # If-satser för att bestämma betyg
    if poäng >= 90:
        betyg = "A"
    elif poäng >= 80:
        betyg = "B"
    elif poäng >= 70:
        betyg = "C"
    elif poäng >= 50:
        betyg = "D"
    else:
        betyg = "F"
    
    # Skriv ut resultat
    print(f"Elev {i}: {poäng} poäng -> Betyg {betyg}")

# Summering
godkända = 0
for poäng in elevers_poäng:
    if poäng >= 50:
        godkända += 1

print(f"\nSammanfattning: {godkända} av {len(elevers_poäng)} elever godkända")

BETYGSRAPPORT
=============
Elev 1: 45 poäng -> Betyg F
Elev 2: 67 poäng -> Betyg D
Elev 3: 23 poäng -> Betyg F
Elev 4: 89 poäng -> Betyg B
Elev 5: 56 poäng -> Betyg D
Elev 6: 91 poäng -> Betyg A
Elev 7: 34 poäng -> Betyg F
Elev 8: 78 poäng -> Betyg C
Elev 9: 12 poäng -> Betyg F
Elev 10: 65 poäng -> Betyg D

Sammanfattning: 6 av 10 elever godkända

In [ ]:
## Decide discounts for a customer

In [181]:
## Rabatter
cost_per_apple = 10
costumer = input("Are you a student or a pensioner?")

apple = int(input("How many apples do you want to buy?"))

total_cost = cost_per_apple * apple

if costumer == "student":
    final_cost = total_cost * 0.70  
    print(f"You get a 30% discount. price: {final_cost} kr")
elif costumer == "pensioner":
    final_cost = total_cost * 0.50    
    print(f"You get a 50% discount. Price: {final_cost} kr")
else:
    final_cost = total_cost
    print(f"No discount available. Price: {final_cost} kr")

You get a 30% discount. price: 70.0 kr

In [ ]:
i = 0 

while True:
    print (i)
    i += 1
    if i >= 5: # this is the same as saying if (i) is bigger or as much as 5 then stop the loop (break)
        break

In [182]:
# an example with three arguments 

for i in range(1, 5, 2):
    print(i)

1
3

In [183]:
# we want to change the default setting of print() fuction to not start a new line 
for i in range(1, 5, 2):
    print(i, end=" ")

1 3

In [ ]:
import math
# Pythagorean theorem

a = 3
b = 4