In [17]:
print("Hello World!")

Hello World!

## inputs

In [18]:
print("My name is Zakaria")

My name is Zakaria

In [19]:
name = "Zakaria"
print(f"Your name is {name}")

Your name is Zakaria

In [21]:
name = input("What is your name?")
age = input("How old are you?")

print(f"{name} is {age} years old.")

Zakaria is 27 years old.

## type coercion

In [39]:
gravity = 9.82
mass = input("Enter your weight in kg:")

force = mass*gravity

TypeError: can't multiply sequence by non-int of type 'float'

In [35]:
gravity = 9.82
mass = float(input("Enter your weight in kg:"))

force = mass*gravity

print(f"{force = }N")

force = 736.5N

In [36]:
print(f"{force = :.1f}N")

force = 736.5N

In [37]:
number = "five"
float(number)

ValueError: could not convert string to float: 'five'

## Some more types!

In [38]:
radius = 7 
geometry = "circle"
is_unite_circle = False
screen_inches = 6.4

type(radius), type(geometry), type(is_unite_circle), type(screen_inches)

(int, str, bool, float)