In [17]:
print("Hello World!")

Hello World!

## inputs

In [18]:
print("My name is Zakaria")

My name is Zakaria

In [19]:
name = "Zakaria"
print(f"Your name is {name}")

Your name is Zakaria

In [21]:
name = input("What is your name?")
age = input("How old are you?")

print(f"{name} is {age} years old.")

Zakaria is 27 years old.

## type coercion

In [35]:
gravity = 9.82
mass = float(input("Enter your weight in kg:"))

force = mass*gravity

print(f"{force = }N")

force = 736.5N

In [36]:
print(f"{force = :.1f}N")

force = 736.5N

In [75]:
number = 5
float(number)

5.0

## Some more types!

In [38]:
radius = 7 
geometry = "circle"
is_unite_circle = False
screen_inches = 6.4

type(radius), type(geometry), type(is_unite_circle), type(screen_inches)

(int, str, bool, float)

## IF STATEMENTS

In [1]:
age = int(input("Enter your age: "))
age_limit = 15
if age < age_limit:
    print("sorry, you are too young to attend this scary movie")
    print("watch cartoons instead")
else:
        print("enjoy this scary movie!")

sorry, you are too young to attend this scary movie
watch cartoons instead

In [2]:
age = 15
height = 130 

if age > 11 and  130  <= height < 210:
    print("Welcome to the rollercoster")
else:
    print("Come back when you fullfill reqiuerments")

Welcome to the rollercoster

## Modulo Operater

In [ ]:
number = 5
if not number % 2:
    print("even number")
else: 
    print("odd number")

## Truthy and falsy values

In [3]:
number = 10
if number % 2:
    print("even")
else:
    print("odd")

odd

In [4]:
number = 10
if number % 2:
    print("even")
else:
    print("odd")

odd

In [5]:
if 0:
    print("Truthy")
else:
    print("Falsy")

Falsy

## if-elif-else

In [6]:
weight = 12
if weight < 20:
    print("Give patient 500mg")
elif weight < 40:
    print("Give patient 750mg")
else: 
    print("Give patient 1000mg")

Give patient 500mg

# Nested if statements

In [7]:
number = 25
if number % 5 == 0:
    print(f"{number} is divisible by 5")
    if number % 2 == 0:
        print(f"{number} is  even")
    else:
        print(f"{number} is odd")

25 is divisible by 5
25 is odd

# One line if statements

In [8]:
name = "zakaria"
gender = "male"
age = 27

# one line if statement
# ".lower()" method converts all characters in a string to lowercase.
if "z" in name.lower(): print(f"{name} contains the leter 'z' ")

zakaria contains the leter 'z'

In [9]:
print(f"Hi mister {name}"if gender == "male" else f"Hi miss {name}")

Hi mister zakaria

In [10]:
# one line if-else variable assignment
age = 17
is_child = True if age < 18 else False
print(is_child)

True

# Grundläggande if-elif-else övningar.

In [50]:
# Ordning baserat på ålder.  

ålder = int(input("ange ålder här: "))

if ålder < 18:
    print("barn")
elif ålder > 65: 
    print("pensionär")
else:
    print("vuxen")

pensionär

In [69]:
# Väderklädsel
temperatur = int(input(" Ange temperatur här: "))  
if temperatur < 0:
    print("Sätt på dig vinter jacka")
elif temperatur < 10:
    print("sätt på dig höst jacka")
elif temperatur < 20: 
    print("sätt på dig t shirt men ta med dig en hoodie ifall det blir kallare på kvällen")      
elif temperatur < 30:
    print("sätt på dig t shirt och shorts")
else:
        print("sätt dig i solen och njut, glöm inte solkräm!")

Sätt på dig vinter jacka

In [73]:
# Studentrabatt

ålder = int(input("Ange ålder här:"))

if 16 <= ålder <= 18:
    print("Din studentrabatt är 30%")
elif 19 <= ålder <= 21:
    print("Din studentrabatt är 20%")
elif 22 <= ålder <= 25:
    print("Din studentrabatt är 10%")  
else:
    print("Tyvärr, du har ingen studentrabatt")

Tyvärr, du har ingen studentrabatt

In [ ]:
# Träningsintensitet

puls = inte(input("Ange din puls här: "))
if 100 <= puls < 120:
    print("låg intensitet")

# While-statement

In [46]:
n  = 0
while zak < 6:
    print(f"Hello {n}")
    zak += 2

In [85]:
# Example - Oil leakage

birds = 80000
year = 0

while birds > 8000:
    print(f"year {year} there were {birds: .0f} ")
    birds /= 2
    year += 1
print(f"it takes {year} for the birds to have 1/10 remaining")

year 0 there were  80000
year 1 there were  40000
year 2 there were  20000
year 3 there were  10000
it takes 4 for the birds to have 1/10 remaining

In [88]:
# Jämna tal
n = -19
while n <= 20:
    print(n, end=" ")
    n += 2

-19 -17 -15 -13 -11 -9 -7 -5 -3 -1 1 3 5 7 9 11 13 15 17 19

# Break statement.

In [ ]:
# Random siffra
imoport random as rnd 
while true: 
    number1 = rnd.randint(1,10)
    number2 = rnd.randint(1,10)

## test